@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap");

.hero {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/hero/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease all 0.5s;
}

.inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.hero-inner {
  line-height: 1.5;
}

.description {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  transition: ease all 0.5s;
}

#span-one {
  color: white;
}

#span-two {
  background: linear-gradient(94.93deg, #0ff486 3.93%, #04f0ff 119.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-button {
  background: linear-gradient(96.95deg, #0ff486 -11.42%, #04f0ff 132.06%);
  border: #89ecf7 solid 4px;
  box-shadow: 4px 4px 8px -4px rgb(174, 241, 242);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  padding: 5px 40px;
  color: #000000;
  z-index: 1007;
}

.hero-button:hover {
  background: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.hero-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-spacing {
  margin: 10px 5px;
}

.github-icon {
  color: #0ff486;
}

.github-icon:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.linkedin-icon {
  color: #04fcbafe;
}

.linkedin-icon:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.twitter-icon {
  color: #04ffe6f5;
}

.twitter-icon:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 370px) {
  .hero-inner {
    line-height: 1.7;
  }

  .description {
    font-size: 16px;
  }

  .hero-button {
    font-size: 12px;
    margin-top: 10px;
  }

  .icon-spacing {
    margin: 10px 8px;
  }
}

@media screen and (min-width: 540px) {
  .hero-button {
    font-size: 16px;
    margin-top: 15px;
    padding: 5px 40px;
  }

  .icon-spacing {
    margin: 8px 12px;
  }
}

@media screen and (min-width: 680px) {
  .hero-inner {
    line-height: 1.9;
  }

  .hero-button {
    font-size: 26px;
    margin-top: 16px;
    padding: 5px 40px;
  }

  .icon-spacing {
    margin: 8px 16px;
  }
}

@media screen and (min-width: 980px) {
  .hero-button {
    font-size: 26px;
    margin-top: 18px;
    padding: 5px 40px;
  }

  .icon-spacing {
    margin: 8px 16px;
  }
}
