@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap");

.hero {
  width: 100%;
  height: 100%;
  background-image: url(../hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease all 0.5s;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 250px;
  font-size: 14px;
  transition: ease all 0.5s;
  line-height: 1.9;
}

.description {
  font-size: 6px;
  color: rgba(255, 255, 255, 0.5);
  transition: ease all 0.5s;
}

#span-one {
  color: white;
}

#span-two {
  background: linear-gradient(94.93deg, #0ff486 3.93%, #04f0ff 119.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.hero-button {
  background: linear-gradient(96.95deg, #0ff486 -11.42%, #04f0ff 132.06%);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  padding: 5px 25px;
  color: #000000;
  z-index: 1007;
}

.hero-button:hover {
  background: transparent;
  color: white;
  cursor: pointer;
  transition: all 1s ease-in;
}

.hero-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-spacing {
  margin: 5px 5px;
}

.media-icons {
  font-size: 15px;
}

.github-icon {
  color: #0ff486;
}

.linkedin-icon {
  color: #04fcbafe;
}

.twitter-icon {
  color: #04ffe6f5;
}

@media screen and (min-width: 370px) {
  .hero-inner {
    margin-top: 190px;
    font-size: 20px;
    transition: ease all 0.5s;
    line-height: 2.2;
  }

  .description {
    font-size: 16px;
  }

  .hero-button {
    font-size: 10px;
    margin-top: 5px;
    padding: 5px 30px;
  }

  .icon-spacing {
    margin: 5px 8px;
  }

  .media-icons {
    font-size: 20px;
  }
}

@media screen and (min-width: 540px) {
  .hero-inner {
    margin-top: 220px;
    font-size: 24px;
    transition: ease all 0.5s;
    line-height: 2.2;
  }

  .description {
    font-size: 20px;
  }

  .hero-button {
    font-size: 16px;
    margin-top: 5px;
    padding: 5px 40px;
  }

  .icon-spacing {
    margin: 8px 12px;
  }

  .media-icons {
    font-size: 26px;
  }
}

@media screen and (min-width: 680px) {
  .hero-inner {
    margin-top: 140px;
    font-size: 26px;
    transition: ease all 0.5s;
    line-height: 2.6;
  }

  .description {
    font-size: 26px;
  }

  .hero-button {
    font-size: 26px;
    margin-top: 16px;
    padding: 5px 40px;
  }

  .icon-spacing {
    margin: 8px 16px;
  }

  .media-icons {
    font-size: 36px;
  }
}

@media screen and (min-width: 980px) {
  .hero-inner {
    margin-top: 160px;
    font-size: 36px;
    transition: ease all 0.5s;
    line-height: 2.2;
  }

  .description {
    font-size: 26px;
  }

  .hero-button {
    font-size: 26px;
    margin-top: 10px;
    padding: 5px 40px;
  }

  .icon-spacing {
    margin: 8px 16px;
  }

  .media-icons {
    font-size: 36px;
  }
}

@media screen and (min-width: 1250px) {
  .hero-inner {
    margin-top: 190px;
    font-size: 40px;
    transition: ease all 0.5s;
    line-height: 2.2;
  }

  .description {
    font-size: 26px;
  }

  .hero-button {
    font-size: 36px;
    margin-top: 16px;
    padding: 5px 46px;
    border-radius: 10px;
  }

  .icon-spacing {
    margin: 8px 20px;
  }

  .media-icons {
    font-size: 42px;
  }
}

@media screen and (min-width: 1650px) {
  .hero-inner {
    margin-top: 190px;
    font-size: 40px;
    transition: ease all 0.5s;
    line-height: 2.2;
  }

  .description {
    font-size: 26px;
  }

  .hero-button {
    font-size: 36px;
    margin-top: 16px;
    padding: 5px 46px;
    border-radius: 10px;
  }

  .icon-spacing {
    margin: 8px 20px;
  }

  .media-icons {
    font-size: 42px;
  }
}

@media screen and (min-width: 2000px) {
  * {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-content-inner {
    margin-top: 300px;
    font-size: 45px;
  }

  .description {
    font-size: 35px;
  }

  .hero-button {
    font-size: 45px;
    margin-top: 25px;
    padding: 20px 65px;
  }

  .icon-spacing {
    margin: 45px 35px;
  }

  .media-icons {
    font-size: 45px;
  }
}
